[flake8]
max-line-length = 88
extend-ignore = E203, W503, E501, E402
exclude = 
    .git,
    __pycache__,
    .pytest_cache,
    build,
    dist,
    .venv,
    .env,
    genomevault.egg-info,
    legacy,
    TailChasingFixer
per-file-ignores =
    __init__.py:F401,F403
    **/test_*.py:E501,F401
    tests/*.py:E501,F401
max-complexity = 12
