[MASTER]
ignore=migrations,build,dist,node_modules,.venv,venv,.mypy_cache,.ruff_cache,.pytest_cache
jobs=0

[MESSAGES CONTROL]
disable=
    C0114,
    C0115,
    C0116,
    R0903,
    R0801,
    W1203,
    W1514

[FORMAT]
max-line-length=100
good-names=i,j,k,ex,ok,_,hv,X,Y,df,ax
