# INCORRECT: Multiple Kubernetes resources without separators
# This will cause YAML parsing errors

apiVersion: v1
kind: ConfigMap
metadata:
  name: config-1
data:
  key1: value1
apiVersion: v1
kind: ConfigMap
metadata:
  name: config-2
data:
  key2: value2
apiVersion: v1
kind: Service
metadata:
  name: service-1
spec:
  selector:
    app: myapp
  ports:
  - port: 80
